.container {
    display: flex;
    margin: 15px 15px 0px 15px;
}

#create-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 15px;
}

#control-group-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.controls-container {
    display: flex;
    flex-flow: column wrap;
}

.control-group-header {
    align-self: center;

    font-size: 20px;

    padding: 0px 30px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid black;
}

.form-control-container>label {
    font-size: 16px;
}

.form-control {
    box-sizing: border-box;
    width: 150px;
}

.button-container {
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    padding: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.fix-hover {
    border: 2px transparent solid;
}

.fix-hover:hover {
    border: 2px black solid;
}

.green-hover:hover {
    background-color: var(--quackers-green-color);
    color: white;
    border: 2px var(--quackers-green-color) solid;
}


.red-hover:hover {
    background-color: var(--quackers-red-color);
    color: white;
    border: 2px var(--quackers-red-color) solid;
}

.extra-margin-bottom {
    margin-bottom: 20px;
}

.preview-container {
    width: 225px;
    height: 210px;
    display: flex;
    flex-flow: column;
}

.enlarge {
    width: 150px;
}