<div *ngIf="!account || !cart">Loading your shopping cart...</div>
<div *ngIf="account && cart">
    <div id="customer-info">
        <span>Hello {{account.username}}, </span>
        <span *ngIf="!isCartEmpty()">your cart is listed below.</span>
        <span *ngIf="isCartEmpty()">your cart is empty.</span>
    </div>
    <div class="header-container">
        <button mat-raised-button class="fix-hover" (click)="goBack()">Go Back</button>
        <button mat-raised-button class="fix-hover red-button" *ngIf="!isCartEmpty()" (click)="clearCart()">Clear
            Cart</button>
        <button mat-raised-button class="fix-hover green-button" *ngIf="!isCartEmpty()" (click)="checkoutCart()">Proceed
            to Checkout</button>
    </div>
    <div class="header-container" *ngIf="!isPremadeEmpty()">
        <h2>Premade Ducks</h2>
    </div>
    <div class="duck-container" *ngIf="!isPremadeEmpty()">
        <mat-card class="card-format" *ngFor="let duck of ducks">
            <div class="duck-box">
                <app-duck-image style="height: 210px" [duck]=duck></app-duck-image>
                <mat-card-header class="card-header-format">
                    <mat-card-title class="truncate">{{duck.name}}</mat-card-title>
                    <mat-card-subtitle>Quantity: {{getDuckQuantity(duck.id)}}</mat-card-subtitle>
                    <mat-card-subtitle>Total: ${{getTotalDuckPrice(duck)}}</mat-card-subtitle>
                    <mat-card-subtitle>(${{getDuckPrice(duck)}} each)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="card-action-format">
                    <input matInput type="number" min="1" value=1 placeholder="Quantity" class="quantity-selector" #quantity>
                    <button mat-raised-button class="fix-hover red-button add-to-cart-btn"
                        (click)="removeDuck(duck, quantity.value)">Remove</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
    <div class="header-container" *ngIf="!isCustomEmpty()">
        <h2>Custom Ducks</h2>
    </div>
    <div class="duck-container" *ngIf="!isCustomEmpty()">
        <mat-card class="card-format" *ngFor="let duck of customDucks">
            <div class="duck-box">
                <app-duck-image style="height: 210px" [duck]=duck></app-duck-image>
                <mat-card-header class="card-header-format">
                    <mat-card-title class="truncate">{{duck.name}}</mat-card-title>
                    <mat-card-subtitle>Quantity: {{duck.quantity}}</mat-card-subtitle>
                    <mat-card-subtitle>Total: ${{getTotalCustomDuckPrice(duck)}}</mat-card-subtitle>
                    <mat-card-subtitle>(${{getDuckPrice(duck)}} each)</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions class="card-action-format">
                    <input matInput type="number" min="0" placeholder="Quantity" class="quantity-selector" #quantity>
                    <button mat-raised-button class="fix-hover red-button add-to-cart-btn"
                        (click)="removeDuck(duck, quantity.value, true)">Remove</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
    <div class="header-container" *ngIf="!isCartEmpty()">
        <span>Total Price: ${{getCartTotal()}}</span>
    </div>
    <br>
</div>