#customer-info {
    font-size: 20px;
}

.price-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.card-format {
    width: var(--card-width, 225px);
    height: 360px;
    margin: 20px;
    background-color: aliceblue;
}

.card-header-format {
    margin: 0px;
    align-self: center;
    padding: 0px;
}

.truncate {
    /*Width should always be 25px less than .card-format width*/
    width: calc(var(--card-width, 225px) - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-action-format {
    gap: 15px;
    align-self: center;
    padding: 0px 5px;
    height: fit-content;
}

.duck-container {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.duck-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.duck-box {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    text-align: center;

    color: black;

    width: 100%;
    height: 100%;
}

.quantity-selector {
    width: 75px;
    padding: 6.5px;
    font-size: 16px;
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    text-align: center;
    background-color: aliceblue;
    border: 1px black solid;
    border-radius: 5px;
    color: black;
}

button {
    padding: 3px !important;
}

.fix-hover {
    border: 2px transparent solid;
}

.fix-hover:hover {
    border: 2px black solid;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.red-button {
    background-color: var(--quackers-red-color) !important;
    color: white !important;
}