#customer-info {
    font-size: 20px;
}

.price-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.duck-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.duck-box {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: black;
    width: 200px;
    height: 250px;
    margin: 3px;
    border: 1px solid black;
}

.duck-header {
    order: 0;
}

h2 {
    font-size: 20px;
}

.duck-content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    flex: 1;
}

.duck-details {
    order: 0;
    display: flex;
    flex-flow: column nowrap;
    font-size: 18px;
}

.duck-btn-container {
    order: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.duck-quantity-input {
    width: 80px;
    line-height: 1.5;
}

.btn-controls {
    display: flex;
    flex: row wrap;
    gap: 10px;
}

.gen-btn {
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1.5;
    width: 80px
}

.gen-btn:hover {
    cursor: pointer;
}

.back-btn {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.back-btn:hover {
    background-color: white;
    border: 2.5px solid black;
    color: black;
}

.duck-remove-btn {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.duck-remove-btn:hover {
    background-color: #e74c3c;
    border: 2.5px solid #e74c3c;
    color: white;
}