<h2>{{message}}</h2>

<div>
    <label for="username">Username: 
        <input type="text" id="username" name="username" [(ngModel)]="username">
    </label>
    <br>
    <label for="password">Password:
        <input type="password" id="password" name="password" [(ngModel)]="password">
    </label>
    <br>
    <button type="button" (click)="onSubmit(username,password)">Submit</button>
</div>


<div>
    <span>Entered Username:</span>
    {{attempt.username}}
</div>
<div>
    <span>Entered Password:</span>
    {{attempt.password}}
</div>
