#customer-info {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 15px;
}

.detail-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.info-detail {
    font-size: 15px;
    margin-bottom: 10px;
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.info-detail span {
    margin: 10px;
}

.truncate {
    /*Width should always be 25px less than .card-format width*/
    width: calc(var(--card-width, 225px) - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    padding: 3px !important;
}

.fix-hover {
    border: 2px transparent solid;
}

.fix-hover:hover {
    border: 2px black solid;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.red-button {
    background-color: var(--quackers-red-color) !important;
    color: white !important;
}