<h1 mat-dialog-title>Receipt</h1>
<div *ngIf="ducks.length == 0 && customDucks.length == 0" mat-dialog-content>Loading your receipt...</div>
<div *ngIf="ducks.length != 0 || customDucks.length != 0"  mat-dialog-content>
    <div style="min-width: 100%" *ngIf="ducks.length != 0">
        <span style="text-decoration: underline;">Premade Ducks</span>
        <div style="min-width: 100%" *ngFor="let duck of ducks">
            <span>{{getDuckQuantity(duck.id)}} x {{duck.name}}  </span>
            <span style="margin-left: 10px; float: right;">${{getTotalDuckPrice(duck)}}</span>
        </div>
    </div>
    <div style="min-width: 100%" *ngIf="customDucks.length != 0">
        <br>
        <span style="text-decoration: underline;">Custom Ducks</span>
        <div style="min-width: 100%" *ngFor="let duck of customDucks">
            <span>{{duck.quantity}} x {{duck.name}}  </span>
            <span style="margin-left: 10px; float: right;">${{getTotalCustomDuckPrice(duck)}}</span>
        </div>
    </div>
    <hr>
    <div style="text-align: right;">
        Total: ${{getCartTotal()}}
    </div>
    <br>
</div>
<mat-dialog-actions style="justify-content: center;">
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>