/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --quackers-orange-color: #e67e22;
    --quackers-green-color: #2ecc71;
    --quackers-red-color: #e74c3c;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: auto;
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
}

button {
    background-color: black;
    border: 2px solid black;
    color: white;

    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1.5;
    min-width: fit-content;
}

button:hover {
    cursor: pointer;
    background-color: white;
    border: 2.5px solid black;
    color: black;
}

.snackbar-success {
    --mdc-snackbar-container-color: var(--quackers-green-color);
    --mdc-snackbar-supporting-text-color: white;
    text-align: center;
}

.snackbar-error {
    --mdc-snackbar-container-color: var(--quackers-red-color);
    --mdc-snackbar-supporting-text-color: white;
    text-align: center;
}

.snackbar-info {
    text-align: center;
}

.green-button {
    background-color: var(--quackers-green-color) !important;
    color: white !important;
}