<div class="header-btn-container">
    <app-duck-search></app-duck-search>
</div>
<div class="duck-container">
    <div *ngFor="let duck of ducks">
        <div class="duck-box">
            <div class="duck-header">
                <h2>{{duck.name}}</h2>
                <hr>
            </div>
            <div class="duck-details">
                <span>Id: {{duck.id}}</span>
                <span>Price: ${{duck.price}}</span><br>
                <div class="duck-btn-container">
                    <button class="duck-add-btn gen-btn" type="button" (click)="showDuck(duck.id)">Detail</button>
                    <button class="duck-add-btn gen-btn" type="button" (click)="addDuck(duck)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>