<div class="header-btn-container">
    <button id="create-btn" mat-raised-button routerLink="/inventory/product">Create Product</button>
</div>
<div class="duck-container">
    <mat-card class="card-format" *ngFor="let duck of ducks">
        <div class="duck-box">
            <div class="duck-image-container">
                <img class="duck-image" alt="{{duck.name}} Image" src="{{getDuckColorImage(duck)}}">
                <img class="{{getCSSClass('hat', duck)}}"
                    [style.visibility]="duck.outfit.hatUID == 0 ? 'hidden' : 'visible'"
                    src="{{getAccessoryImage('hat', duck)}}">
                <img class="{{getCSSClass('handItem', duck)}}"
                    [style.visibility]="duck.outfit.handItemUID == 0 ? 'hidden' : 'visible'"
                    src="{{getAccessoryImage('handItem', duck)}}">
                <img class="{{getCSSClass('jewelry', duck)}}"
                    [style.visibility]="duck.outfit.jewelryUID == 0 ? 'hidden' : 'visible'"
                    src="{{getAccessoryImage('jewelry', duck)}}">
            </div>
            <mat-card-header class="card-header-format">
                <mat-card-title class="truncate">{{duck.name}}</mat-card-title>
                <mat-card-subtitle>Quantity: {{duck.quantity}}</mat-card-subtitle>
                <mat-card-subtitle>{{getDuckPrice(duck)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="card-action-format">
                <button mat-raised-button class="fix-hover" (click)="goToDuckModification(duck.id)">Modify</button>
                <button mat-raised-button color="warn" class="fix-hover" (click)="deleteDuck(duck)">Remove</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>