:root {
    --card-width: 225px;
}

.header-btn-container {
    display: flex;
    justify-content: center;
}

.card-format {
    width: var(--card-width, 225px);
    height: 350px;
    margin: 20px;
    background-color: aliceblue;
}

.card-header-format {
    margin: 0px;
    align-self: center;
}

.truncate {
    /*Width should always be 25px less than .card-format width*/
    width: calc(var(--card-width, 225px) - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-action-format {
    gap: 15px;
    align-self: center;
}

.duck-container {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.image-container {
    width: 100%;
    height: 60%;
    padding: 0%;
    margin: 0%;
}

.duck-image {
    width: 100%;
    height: 100%;
    display: block;
}

.duck-hat-1-small {
    width: 70px;
    height: 44px;
    position: absolute;
    top: 30px;
    right: 80px;
}

.duck-hat-1-medium {
    width: 80px;
    height: 52px;
    position: absolute;
    top: 13px;
    right: 76px;
}

.duck-hat-1-large {
    width: 93px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 70px;
}

.duck-hat-2-small {
    width: 54px;
    height: 38px;
    position: absolute;
    top: 32px;
    right: 91px;
}

.duck-hat-2-medium {
    width: 68px;
    height: 48px;
    position: absolute;
    top: 16px;
    right: 85px;
}

.duck-hat-2-large {
    width: 81px;
    height: 57px;
    position: absolute;
    top: 0px;
    right: 80px;
}

.duck-hat-3-small {
    width: 53px;
    height: 33px;
    position: absolute;
    top: 38px;
    right: 88px;
}

.duck-hat-3-medium {
    width: 66px;
    height: 41px;
    position: absolute;
    top: 22px;
    right: 82px;
}

.duck-hat-3-large {
    width: 78px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 77px;
}

.duck-handItem-1-small {
    width: 43px;
    height: 16px;
    position: absolute;
    top: 115px;
    right: 75px;
}

.duck-handItem-1-medium {
    width: 58px;
    height: 20px;
    position: absolute;
    top: 115px;
    right: 65px;
}

.duck-handItem-1-large {
    width: 86px;
    height: 30px;
    position: absolute;
    top: 115px;
    right: 55px;
}

.duck-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.duck-box {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    text-align: center;

    color: black;

    width: 100%;
    height: 100%;
}

.duck-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: stretch;

    margin-top: 20px;
}

.fix-hover {
    flex-grow: 1;
    border: 2px transparent solid;
}

.fix-hover:hover {
    border: 2px black solid;
}

#create-btn {
    font-size: 15px;
    background-color: #e67e22;

    border: 2px solid #e67e22;

    color: white;
    width: 250px;
}

#create-btn:hover {
    background-color: white;
    border: 2.5px solid #e67e22;

    color: #e67e22;
}