:root {
    --card-width: 225px;
}

.header-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card-format {
    width: var(--card-width, 225px);
    height: 350px;
    margin: 20px;
    background-color: aliceblue;
}

.card-header-format {
    margin: 0px;
    align-self: center;
    padding: 0px 5px;
}

.truncate {
    /*Width should always be 25px less than .card-format width*/
    width: calc(var(--card-width, 225px) - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-action-format {
    gap: 15px;
    align-self: center;
    padding: 0px;
}

.duck-container {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.duck-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.duck-box {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    text-align: center;

    color: black;

    width: 100%;
    height: 100%;
}

.duck-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: stretch;

    margin-top: 20px;
}

.fix-hover {
    flex-grow: 1;
    border: 2px transparent solid;
}

.fix-hover:hover {
    border: 2px black solid;
}

#create-btn {
    font-size: 15px;
    background-color: #e67e22;

    border: 2px solid #e67e22;

    color: white;
    width: 250px;
}

#create-btn:hover {
    background-color: white;
    border: 2.5px solid #e67e22;

    color: #e67e22;
}