<div class="header-btn-container">
    <app-duck-search *ngIf="ducks.length != 0" (searchEvent)="updateDisplayDucks($event)"></app-duck-search>
    <button id="create-btn" mat-raised-button (click)="goToDuckModification(null)">Create Product</button>
</div>
<div *ngIf="ducks.length == 0">Loading ducks...</div>
<div *ngIf="!ducksToDisplay" style="text-align:center;">No ducks found</div>
<div class="duck-container" *ngIf="ducksToDisplay && ducksToDisplay.length != 0">
    <mat-card class="card-format" *ngFor="let duck of ducksToDisplay">
        <div class="duck-box">
            <div class="duck-image-container">
                <img class="duck-image" alt="{{duck.name}} Image" src="{{getDuckColorImage(duck)}}">
                <img class="{{getCSSClass('hat', duck)}}"
                    [style.visibility]="duck.outfit.hatUID == 0 ? 'hidden' : 'visible'"
                    src="{{getAccessoryImage('hat', duck)}}">
                <img class="{{getCSSClass('handItem', duck)}}"
                    [style.visibility]="duck.outfit.handItemUID == 0 ? 'hidden' : 'visible'"
                    src="{{getAccessoryImage('handItem', duck)}}">
                <img class="{{getCSSClass('jewelry', duck)}}"
                    [style.visibility]="duck.outfit.jewelryUID == 0 ? 'hidden' : 'visible'"
                    src="{{getAccessoryImage('jewelry', duck)}}">
            </div>
            <mat-card-header class="card-header-format">
                <mat-card-title class="truncate">{{duck.name}}</mat-card-title>
                <mat-card-subtitle>Quantity: {{duck.quantity}}</mat-card-subtitle>
                <mat-card-subtitle>{{getDuckPrice(duck)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="card-action-format">
                <button mat-raised-button class="fix-hover" (click)="goToDuckModification(duck)">Modify</button>
                <button mat-raised-button color="warn" class="fix-hover" (click)="deleteDuck(duck)">Remove</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>