<div id="container">
    <h1 mat-dialog-title>Checkout</h1>
    <form id="detail-form" [formGroup]="detailForm" (ngSubmit)="onSubmit()">
        <div id="control-group-container">
            <div class="controls-container">
                <mat-label class="control-group-label">
                    Contact Information
                    <hr style="min-width: 100%;">
                </mat-label>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    <mat-error *ngIf="shouldDisplayError('email', true)">
                        Please enter a valid email address.
                    </mat-error>
                    <mat-error *ngIf="shouldDisplayError('email', false) && !shouldDisplayError('email', true)">
                        Please enter a email address.
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="controls-container">
                <mat-label class="control-group-label">
                    Shipping Address
                    <hr style="min-width: 100%;">
                </mat-label>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName" pattern="^\s*\S+.*$" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('firstName', false)">
                        Please enter your first name.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName" pattern="^\s*\S+.*$" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('lastName', false)">
                        Please enter your last name.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Address</mat-label>
                    <input matInput type="text" formControlName="address" pattern="^\s*\S+.*$" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('address', false)">
                        Please enter your address.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>City</mat-label>
                    <input matInput type="text" formControlName="city" pattern="^\s*\S+.*$" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('city', false)">
                        Please enter your city.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Zip Code</mat-label>
                    <input matInput type="text" formControlName="zipCode" minlength="5" pattern="^\d{5}(?:[-\s]\d{4})?$"
                        placeholder="12345" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('zipCode', true)">
                        Please enter a valid zipcode (i.e. 12345).
                    </mat-error>
                    <mat-error class="error"
                        *ngIf="shouldDisplayError('zipCode', false) && !shouldDisplayError('zipCode', true)">
                        Please enter a zipcode.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="controls-container">
                <mat-label class="control-group-label">
                    Payment Information
                    <hr style="min-width: 100%;">
                </mat-label>
                <mat-form-field appearance="fill" floatLabel="always"
                    [ngClass]="{'margin-bottom-40px': shouldDisplayError('cardNumber', true), 'margin-bottom-20px': shouldDisplayError('cardNumber', false) && !shouldDisplayError('cardNumber', true)}">
                    <mat-label>Credit Card Number</mat-label>
                    <input matInput type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}"
                        placeholder="XXXX XXXX XXXX XXXX" formControlName="cardNumber" maxlength="19" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('cardNumber', true)">
                        Please enter a valid credit card number (i.e. 5555 5555 5555 5555).
                    </mat-error>
                    <mat-error class="error"
                        *ngIf="shouldDisplayError('cardNumber', false) && !shouldDisplayError('cardNumber', true)">
                        Please enter a credit card number.
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" floatLabel="always"
                    [ngClass]="{'margin-bottom-20px': shouldDisplayError('expiration', true) || shouldDisplayError('expiration', false)}">
                    <mat-label>Expiration Date</mat-label>
                    <input matInput type="text" pattern="\d{2}\/\d{4}" placeholder="MM/YYYY"
                        formControlName="expiration" maxlength="7" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('expiration', true)">
                        Please enter a valid expiration date (i.e. 10/2004).
                    </mat-error>
                    <mat-error class="error"
                        *ngIf="shouldDisplayError('expiration', false) && !shouldDisplayError('expiration', true)">
                        Please enter an expiration date.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>CVV</mat-label>
                    <input matInput type="tel" inputmode="numeric" formControlName="cvv" pattern="\d{3}"
                        placeholder="XXX" required>
                    <mat-error class="error" *ngIf="shouldDisplayError('cvv', true)">
                        Please enter a valid CVV (i.e. 123).
                    </mat-error>
                    <mat-error class="error"
                        *ngIf="shouldDisplayError('cvv', false) && !shouldDisplayError('cvv', true)">
                        Please enter a CVV.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-dialog-actions
            [ngClass]="{'margin-40px': shouldDisplayError('cvv', true), 'margin-35px': shouldDisplayError('cvv', false) && !shouldDisplayError('cvv', true)}">
            <button mat-raised-button class="green-button fix-hover">Checkout</button>
            <button mat-raised-button mat-dialog-close>Back</button>
        </mat-dialog-actions>
    </form>

</div>