<div class="container">
    <form id="create-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div id="control-group-container">
            <div class="controls-container">
                <span class="control-group-header">General</span>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" pattern="^\s*\S+.*$" required>
                    <mat-error>Please enter a name.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always"
                    [ngClass]="{'extra-margin-bottom': !createForm.controls.quantity.valid && createForm.controls.quantity.touched}">
                    <mat-label>Quantity</mat-label>
                    <input matInput class="form-control" id="quantity_input" type="number" formControlName="quantity"
                        min="0" required>
                    <mat-error>Please enter a quantity greater than or equal to 0.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always"
                    [ngClass]="{'extra-margin-bottom': !createForm.controls.price.valid && createForm.controls.price.touched}">
                    <mat-label>Price (Enter 0 for default price)</mat-label>
                    <input matInput class="form-control" id="price_input" type="number" step="0.01" min="0.00"
                        formControlName="price" required>
                    <mat-error>Please enter a price greater than or equal to 0.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Size</mat-label>
                    <mat-select class="form-control" id="size_input" formControlName="size" placeholder="Select a Size"
                        required>
                        <mat-option value="SMALL">Small</mat-option>
                        <mat-option value="MEDIUM">Medium</mat-option>
                        <mat-option value="LARGE">Large</mat-option>
                    </mat-select>
                    <mat-error>Please select a size.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Color</mat-label>
                    <mat-select class="form-control" id="color_input" formControlName="color"
                        placeholder="Select a Color" required>
                        <mat-option value="RED">Red</mat-option>
                        <mat-option value="ORANGE">Orange</mat-option>
                        <mat-option value="YELLOW">Yellow</mat-option>
                        <mat-option value="GREEN">Green</mat-option>
                        <mat-option value="BLUE">Blue</mat-option>
                        <mat-option value="INDIGO">Indigo</mat-option>
                        <mat-option value="VIOLET">Violet</mat-option>
                    </mat-select>
                    <mat-error>Please select a color.</mat-error>
                </mat-form-field>
            </div>
            <div class="controls-container">
                <span class="control-group-header">Accessories</span>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Hat</mat-label>
                    <mat-select class="form-control" formControlName="hatUID" required>
                        <mat-option value="0">None</mat-option>
                        <mat-option value="1">Bucket Hat</mat-option>
                        <mat-option value="2">Baseball Hat</mat-option>
                        <mat-option value="3">Fedora</mat-option>
                    </mat-select>
                    <mat-error>Please select a hat.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Hand Item</mat-label>
                    <mat-select class="form-control" formControlName="handItemUID" required>
                        <mat-option value="0">None</mat-option>
                        <mat-option value="1">Knife</mat-option>
                        <mat-option value="2">iPhone</mat-option>
                        <mat-option value="3">NES Controller</mat-option>
                        <mat-option value="4">Gun</mat-option>
                    </mat-select>
                    <mat-error>Please select a hand item.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Jewelry</mat-label>
                    <mat-select class="form-control" formControlName="jewelryUID" required>
                        <mat-option value="0">None</mat-option>
                        <mat-option value="1">Necklace without Pendant</mat-option>
                        <mat-option value="2">Necklace with Pendant</mat-option>
                        <mat-option value="3">Earring</mat-option>
                    </mat-select>
                    <mat-error>Please select an item of jewelry.</mat-error>
                </mat-form-field>
            </div>
        </div>

    </form>
    <div class="preview-container">
        <span class="control-group-header">Preview</span>
        <span *ngIf="!showPreview()" style="text-align: center;">In order for the preview to display, you must select a
            size and a color.</span>
        <app-duck-image *ngIf="showPreview()" [duck]="convertFormToDuck()"></app-duck-image>
    </div>
</div>
<mat-dialog-actions class="button-container">
    <button mat-raised-button class="fix-hover green-hover" (click)="onSubmit()">Confirm</button>
    <button mat-raised-button class="fix-hover red-hover" type="button" [mat-dialog-close]="null">Close</button>
</mat-dialog-actions>