<div *ngIf="!duck">Loading the duck...</div>
<div id="duck-container" *ngIf="duck">
    <div id="duck-property-container">
        <div class="properties-container">
            <span class="property-group-header">General</span>
            <div class="single-property-container">
                <span>Name: </span>
                <span>{{duck.name}}</span>
            </div>
            <div class="single-property-container">
                <span>Price: </span>
                <span>{{duck.price}}</span>
            </div>
            <div class="single-property-container">
                <span>Quantity Available: </span>
                <span>{{duck.quantity}}</span>
            </div>
            <div class="single-property-container">
                <span>Size: </span>
                <span>{{duck.size}}</span>
            </div>
            <div class="single-property-container">
                <span>Color: </span>
                <span>{{duck.color}}</span>
            </div>
        </div>
        <div class="properties-container">
            <span class="property-group-header">Outfit</span>
            <div class="single-property-container">
                <span>Hat UID: </span>
                <span>{{duck.outfit.hatUID}}</span>
            </div>
            <div class="single-property-container">
                <span>Shirt UID: </span>
                <span>{{duck.outfit.shirtUID}}</span>
            </div>
            <div class="single-property-container">
                <span>Shoes UID: </span>
                <span>{{duck.outfit.shoesUID}}</span>
            </div>
            <div class="single-property-container">
                <span>Hand Item UID: </span>
                <span>{{duck.outfit.handItemUID}}</span>
            </div>
            <div class="single-property-container">
                <span>Jewelry UID: </span>
                <span>{{duck.outfit.jewelryUID}}</span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="add-to-cart-container" *ngIf="duck">
    <input type="number" min="1" max="{{duck.quantity}}" value="1" class="quantity-input" [(ngModel)]="quantityInput">
    <button class="duck-add-btn gen-btn" (click)="addDuck()">Add to Cart</button>
</div>
<div class="duck-btn-container">
    <button class="duck-add-btn gen-btn" type="button" (click)="goBack()">Go Back</button>
    <button class="duck-add-btn gen-btn" type="button" *ngIf="cart" routerLink="/cart">Go to Cart</button>
</div>