<form id="create-form" [formGroup]="createForm" >
    <div id="control-group-container">
        <div class="controls-container">
            <span class="control-group-header">General</span>
            <div class="form-control-container">
                <div><span>Name: </span><span>{{createForm.get('name')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Price: </span><span>{{createForm.get('price')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Size: </span><span>{{createForm.get('size')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Color: </span><span>{{createForm.get('color')?.value}}</span></div>
            </div>
        </div>
        <div class="controls-container">
            <span class="control-group-header">Outfit</span>
            <div class="form-control-container">
                <div><span>Hat UID: </span><span>{{createForm.get('hatUID')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Shirt UID: </span><span>{{createForm.get('shirtUID')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Shoes UID: </span><span>{{createForm.get('shoesUID')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Hand Item UID: </span><span>{{createForm.get('handItemUID')?.value}}</span></div>
            </div>
            <div class="form-control-container">
                <div><span>Jewelry UID: </span><span>{{createForm.get('jewelryUID')?.value}}</span></div>
            </div>                        
        </div>
    </div>
</form>
<br>
<div class="add-to-cart-container">
    <input type="number" min="1" max="{{createForm.get('Quantity')}}" value="1" class="quantity-input" id=quantityInput> 
    <button class="duck-add-btn gen-btn"(click)="addDuck()">Add to Cart</button>
</div> 
<div class="duck-btn-container">
    <button class="duck-add-btn gen-btn" type="button" (click)="goBack()">Go Back</button>     
    <button class="duck-add-btn gen-btn" type="button" *ngIf="cart" routerLink="/cart">Go to Cart</button>
</div>
