#duck-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#duck-property-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.properties-container {
    display: flex;
    flex-flow: column wrap;
}

.property-group-header {
    align-self: center;

    font-size: 25px;

    padding: 0px 30px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid black;
}

.single-property-container {
    font-size: 20px;
}

.duck-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    margin-top: 20px;

    gap: 10px;
}

.gen-btn {
    border-radius: 25px;

    font-weight: 600;
    margin-bottom: 0px;

    line-height: 1.5;
    width: 80px
}

.gen-btn:hover {
    cursor: pointer;
}

.duck-add-btn {
    background-color: black;
    border: 2px solid black;

    color: white;
}

.duck-add-btn:hover {
    background-color: white;
    border: 2.5px solid black;

    color: black;
}

.add-to-cart-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: stretch;
    margin-top: 20px;

    gap: 10px;
}

.quantity-input {

    width: 70px;
    text-align: center;
    height: 30px;
    background-color: aliceblue;
    border: 1px black solid;

}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}