.message {
    order: 0;
    justify-content: center;
    text-align: center;
}

.button {
    order: 1;
    color: white !important;
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif)) !important;
    font-size: var(--mdc-typography-button-font-size, 14px) !important;
    line-height: var(--mdc-typography-button-line-height, 36px) !important;
    font-weight: var(--mdc-typography-button-font-weight, 500) !important;
    letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em) !important;
    text-transform: var(--mdc-typography-button-text-transform, none) !important;
    margin-left: 10px !important;
}

.button:hover {
    background-color: white !important;
    /*This just overrides the default border hover effect*/
    border: 0px transparent solid !important;
}

.success:hover {
    color: #2ecc71 !important;
}

.error:hover {
    color: #e74c3c !important;
}

.info:hover {
    color: #333333 !important;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}